* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: space-between;
    margin-left: .5em;
    border: 1px solid purple;
}

.logo > img {
    width: 100%;
}

.logo > h2 {
    margin-left: .25em;
}

.hamburger-menu {
    margin-right: .5em;
}

.hero-container {
  display: grid;
  grid-template-columns: auto;
  min-width: 480px;
  color: #fff;
}

.opacity {
    height: 80%;
    background: rgba(35, 35, 35, 0.9);
    mix-blend-mode: multiply;
    opacity: .8;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: -1;
  }

.hero-img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: -2;
}

.hero-items {
  border: 1px solid red;
  width: 100%;
  margin: 0 auto;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-text {
    padding: 0 6em 0 1.3em;
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
}

.hero-description {

}

.hero-search {
    border: 1px solid orange;
    width: 90%;
    margin: 0 auto;
}

.hero-search > img {

}

span {
  display: block;
  font-weight: 700;
}
